* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
:root {
  --color-primary: #009933;
  --color-primary-light: #33cc33;
  --color-primary-dark: #009900;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  //   background-color: var(--color-primary);
}
