//////////////////////////////
//header
.container {
  max-width: 140rem;
  margin: 0 auto;
}
// maxwidth
// padding
// margin

.header {
  font-size: 2rem;
  padding: 0 2rem;
  // font-family: "Ubuntu", sans-serif;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  &__logo {
    color: #000;
  }
  &__span {
    color: var(--color-primary);
  }
  &__nav {
    display: flex;
    align-items: center;
    & ul {
      list-style: none;
      display: flex;
    }
    & li {
      margin: 0rem 2rem;
    }
    &-links {
      text-decoration: none;
      color: #000;
      transition: all 0.2s;
      &:hover {
        color: var(--color-primary);
        border-bottom: 3px solid var(--color-primary);
      }
      &:active {
        transform: translateY(0.3rem);
      }
    }
  }
}
#btn {
  font-size: 1.5rem;
}
//////////////////////////////////
//main-1
.main {
  display: flex;
  height: 93vh;

  .main__box-1 {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    // margin: 10rem 0 5rem 0;
    justify-content: center;

    &-heading {
      font-size: 7rem;
      width: 85%;
      // margin: 1rem 0;
      line-height: 1;
      font-family: "Poppins", sans-serif;
      font-weight: 800;
      // letter-spacing: 0.2rem;

      animation: moveDown 1.2s;
    }
    &-paira {
      font-size: 2rem;
      color: #999;
      width: 85%;
      // margin: 0 auto;
      margin-bottom: 1rem;
      letter-spacing: 0.2rem;
      line-height: 1.4;
      animation: moveLeft 2s;
      padding: 3rem 0;
    }
    &-button {
      // margin-left: 5rem;
      // margin-top: 4rem;
    }
  }
  .main__box-2 {
    flex: 1;
    &-img {
      display: flex;
      align-items: center;

      //   justify-content: center;
      height: 100%;
    }
    &-photo {
      // width: 70%;
      // margin-left: 5rem;
    }
  }
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(0rem);
  }
  80% {
    opacity: 0;
    // transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-80rem);
  }
  80% {
    // transform: translateY(5rem);
  }
  90% {
    // transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

////////////////////////////
//Section-2

.special {
  display: flex;
  justify-content: space-between;
  // max-width: 120rem;
  font-family: "Ubuntu", sans-serif;
  // height: 50vh;
  // font-size: 2.5rem;
  &__name {
    font-size: 2.5rem;
    letter-spacing: 1px;
    // background-color: orangered;
  }
  &__category {
    & ul {
      list-style: none;
      display: flex;
      & li {
      }
      & li a {
        text-decoration: none;
        font-size: 1.7rem;
        // margin: 0 1.5rem;
        margin: 0 0.8rem;
        // color: orangered;
        color: #000;
        letter-spacing: 3px;
        &:hover,
        &.active {
          border-bottom: 3px solid var(--color-primary);
          color: var(--color-primary);
        }
      }
    }
  }
}
//////////////////////////////////
//Section-3
.menu {
  // max-width: 140rem;
  // margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  &__box {
    flex: 0 0 20%;
    margin: 1rem;
    box-shadow: 0rem 0.2rem 1.5rem rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
    border-radius: 0.6rem;
    // &:hover {
    //   transform: translateY(-2rem);
    //   box-shadow: 0rem 2rem 1rem #00000066;
    // }
  }
  &__img {
    height: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-color: aliceblue;
    // background-color: #f0fff6a3;
  }
  &__photo {
    // width: 20rem;
    width: 100%;
    // height: 17rem;
  }
  &__items {
    padding: 2rem;
    /*  background-image: linear-gradient(
      to top right,
      white,
      var(--color-primary)
    );
    */
  }
  &__name {
    font-size: 2rem;
    letter-spacing: 1px;
  }
  &__star {
    color: var(--color-primary);
    padding: 1rem 0;
  }
  &__bottom {
    display: flex;
    align-items: center;
    &-price {
      font-size: 1.7rem;
      margin-right: 1.7rem;
      color: var(--color-primary);
    }
    &-cut-price {
      font-size: 1.7rem;
      color: orangered;
    }
  }
  &__button {
    padding: 1rem 1rem;
    color: #fff;
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary);
    outline: none;
    font-size: 1.2rem;
    margin-left: auto;
    // border-radius: 1rem;
    &:hover {
      color: var(--color-primary);
      background-color: transparent;
    }
  }
}

/////////////////////////////
//section-4
.excellence {
  background-color: var(--color-primary);

  height: 30rem;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: 10rem;
  justify-content: center;
  &__services {
    // max-width: 140rem;
    // margin: 0 auto;
  }
  &__heading {
    font-size: 2.5rem;
  }
  &__paira {
    font-size: 1.4rem;
  }
}

/////////////////////////////
// section -5
.animation {
  &__container {
    display: flex;
    align-items: center;
    &-1 {
      flex: 1.5;
      &-span {
        font-size: 3rem;
        color: var(--color-primary);
      }
      &-heading {
        font-weight: 800;
        font-size: 3rem;
        letter-spacing: 2px;
      }
      &-paira {
        font-size: 1.5rem;
        width: 75%;
        letter-spacing: 1.5px;
        padding: 3rem 0;
      }
    }

    &-2 {
      flex: 1;
      &-animation {
      }
    }
  }
  .animation__container-part-2 {
    flex-direction: row-reverse;
  }
  &__container-1-part-2 {
    flex: 1;
  }
  &__container-1-paira-part-2 {
    width: 100%;
  }
  &__container-2-part-2 {
    flex: 1.5;
  }
}
/////////////////////////////////
//section-6
.special__menu-heading {
  font-size: 5rem;
  text-align: center;
  margin-top: 6rem;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 5.7rem;
    left: 55rem;
    height: 4px;
    width: 30rem;
    display: block;
    background-color: orangered;
    z-index: -1;
  }
}
.today__menu {
  display: flex;
  margin: 2rem 0rem;
  box-shadow: 0rem 0.5rem 2rem rgba(0, 0, 0, 0.1);
  align-items: center;
  height: 30rem;
  border-radius: 1rem;
  &-box {
    display: flex;
    justify-content: center;
  }
  &-img {
  }
  &-photo {
    width: 60%;
    // float: right;
  }
  &-box2 {
    &-heading {
      font-size: 5rem;
      // margin-top: -7rem;
    }
    &-paira {
      font-size: 2rem;
      width: 90%;
      color: #777;
      // margin: 2rem 0rem;
      letter-spacing: 1px;
    }
    &-price {
      font-size: 2rem;
    }
  }
}
// part-2
.reverse__menu {
  flex-direction: row-reverse;
  &-box2 {
    padding-left: 5rem;
    &-paira {
      width: 100%;
    }
  }
}
/////////////////////////////////////
// section-7
.main__reverse {
  flex-direction: row-reverse;
  height: auto;
  &__box-1 {
    &-heading {
      animation: none;
      font-size: 4rem;
    }
  }
}
#main__reverse-heading {
  animation: none;
  font-size: 5rem;
}
#main__reverse-paira {
  animation: none;
}
.main__reverse__photo {
  background-color: brown;
  margin-top: 2rem;
  &-bg {
    background-color: var(--color-primary);
    margin-left: auto;
    position: relative;
    margin-top: 4rem;

    & #img {
      margin-left: 0;
      float: right;
      // position: absolute;
      top: 0;
      left: 0;
    }
  }
}
//////////////////////////////////
// section-8
.discount {
  background-color: #fff;
  &__services {
    // margin-top: 5rem;
    background-image: url(../img/fruit-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding: 3rem;
    border-radius: 1rem;
    text-shadow: 1e-16rem 0rem 0.5rem white;
    color: mintcream;
    // color: var(--color-primary);
  }
  &__heading {
    letter-spacing: 3px;
  }
  &__paira {
    font-size: 3rem;
    letter-spacing: 3px;
    // color: red;
    text-shadow: 1e-16rem 0rem 0.5rem white;
    color: mintcream;
  }
  &__offer {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    &-mail {
      &-box {
        &:focus {
          border-bottom: 3px solid rgb(252, 72, 7);
          &:valid {
            border-bottom: 5px solid #66ff33;
          }
        }
        padding: 1rem 0.5rem;
        outline: none;
        width: 45rem;
        border-bottom: 3px solid transparent;
        border-radius: 0.4rem;
        border: none;
      }
      &-box:placeholder-shown + &-down {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
        transition: all 0.6s;
      }
      &-down {
        text-align: left;
        padding: 1rem 0.5rem;
        transition: all 0.6s;
        font-size: 1.3rem;
        color: aliceblue;
      }
    }
    &-btn {
      &-box {
        padding: 0.7rem 1.5rem;
        outline: none;
        border: 3px solid orangered;
        border-top-right-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;

        margin-left: -2px;
        color: white;
        background-color: orangered;
        &:hover {
          color: #fff;
          background-color: transparent;
          border-color: #fff;
        }
      }
    }
  }
}
//////////////////////////
//Footer or section-9
footer {
  background-color: black;
  font-family: "Ubuntu", sans-serif;
  margin-top: 6rem;
  .footer-width {
    max-width: 140rem;
    margin: auto;
    color: white;
    display: flex;
    padding-top: 5rem;
  }
  .footer-1 {
    display: flex;
    flex-direction: column;
    flex: 0 0 25%;
    // border: 2px solid red;
    &__name {
      font-size: 3rem;
      // text-align: center;
      margin: 2rem;
      padding: 0rem 2rem;
    }
    &__paira {
      font-size: 1.4rem;
      color: #777;
      /* width: 90%; */
      margin: 0rem auto;
      letter-spacing: 2px;
      line-height: 1.6;
      /* padding: 5px 1rem; */
      padding: 5px 0px 5px 30px;
      // text-align: center;
    }
    &__logo {
      display: flex;
      // justify-content: center;
      margin: 2rem;
      &-icon {
        font-size: 3rem;
        margin: 1rem;
        :hover {
          color: var(--color-primary);
        }
      }
    }
  }
  .footer-2 {
    flex: 0 0 25%;
    // border: 2px solid red;
    // text-align: center;
    &__heading {
      font-size: 1.5rem;
      margin: 2rem;
      letter-spacing: 2px;
    }
    &__items {
      &-paira {
        font-size: 1.3rem;
        letter-spacing: 1.1px;
        color: #777;
        margin: 2rem;
        cursor: pointer;
        width: 40%;
        &:hover {
          color: #42e942;
          // color: white;
          // color: var(--color-primary);
        }
      }
    }
  }
}

/////////////////////////////////
// catering
.catering__main {
  display: flex;
  &-box1 {
    flex: 1;
    &-heading {
    }
    &-paira {
    }
  }
  &-box2 {
    // flex: 2;
    display: flex;

    &-card1 {
      &-img {
      }
      &-photo {
      }
      &-text {
        &__heading {
        }
        &__paira {
        }
      }
    }
  }
}
